<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="kc.css">

    <title>Kurseong Carrier Maintainence</title>
    <link rel="icon" href="templates\img\LOGO.png">
  </head>
  <body>

    <div class="alert alert-danger" id="errorbox" role="alert" style="display: none;"></div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Navigation Bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Kurseong Carrier</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home/<%= token %>">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/vechile/me/<%= token %>">Check All Vechiles</a>
      </li> 
      <li class="nav-item active">
        <a class="nav-link" href="/vechiles/repair/<%= vechile._id %>/<%= token %>">Check All Repair</a>
      </li> 
    </ul>
    <ul class="navbar-nav ml-auto">
      <button class="btn btn-secondary ml-1">Welcome <%= user.name %></button>
      <button class="btn btn-danger ml-1" data-vechileid="<%= vechile._id %>" data-repairid="<%= repair._id %>" onclick="confirmation();" id="deleterepair">Delete Repair</button>
      <button class="btn btn-primary ml-1" data-token='<%= token %>' id="logoutbtn">Logout</button>
    </li>
   </ul>
  </div>
</nav>

<div class="container text-center text-primary m-5"> Repair was done on <u><%= repair.date %></u>  which costed :<u><%= repair.cost %></u> </div>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Parts</th>
        <th scope="col">Cost</th>
      </tr>
    </thead>
    <tbody>
      <% var i=1; repair.parts.forEach(function(part){ %> 
      <tr>
        <th scope="row"><%= i %></th>
        <td><%= part.partname %></td>
        <td><%= part.cost %></td>
      </tr>
      <%  i ++ }); %>
    </tbody>
  </table>


  <script>
    $("#logoutbtn").click(function() {
      const token = $('#logoutbtn').data("token")
      $.ajax({
          type: "POST",
          url: '/users/logout/'+token,
          contentType: "application/json",
          processData: false,
      }).done(function (data) {
          window.open('/login','_self',false)
        }).fail(function ( jqXHR, textStatus, errorThrown) {
            const x = document.getElementById("errorbox");
            document.getElementById("errorbox").innerHTML = ""+jqXHR.responseText;
            if (x.style.display === "none") {
              x.style.display = "block";
            }
          });
    })

    // $("#updatevechileno").click(function() {
    //     const vechileno = document.getElementById('vechileno').value
    //     const token = $('#logoutbtn').data("token")
    //     const vechile_id = $('#vechileid').data("vechileid")
    //   $.ajax({
    //       type: "PATCH",
    //       url: 'http://localhost:3000/vechile/'+vechile_id+'/'+token,
    //       contentType: "application/json",
    //       processData: false,
    //       data:  JSON.stringify({vechileno:vechileno})
    //   }).done(function (data) {
    //     window.open('/vechiles/'+data.vechile._id+'/'+data.token,'_self',false)
    //     }).fail(function ( jqXHR, textStatus, errorThrown) {
    //         const x = document.getElementById("errorbox");
    //         document.getElementById("errorbox").innerHTML = ""+jqXHR.responseText;
    //         if (x.style.display === "none") {
    //           x.style.display = "block";
    //         }
    //       });
    // })
    function confirmation(){
    var result = confirm("Are you sure you want to delete?");
    if(result){
        const token = $('#logoutbtn').data("token")
        const vechileid = $('#deleterepair').data("vechileid")
        const repairid = $('#deleterepair').data("repairid")
      $.ajax({
          type: "DELETE",
          url: '/repair/'+vechileid+'/'+repairid+'/'+token,
          contentType: "application/json",
          processData: false
      }).done(function (data) {
        window.open('/vechiles/repair/'+data.vechile._id+'/'+data.token,'_self',false)
        }).fail(function ( jqXHR, textStatus, errorThrown) {
            const x = document.getElementById("errorbox");
            document.getElementById("errorbox").innerHTML = ""+jqXHR.responseText;
            if (x.style.display === "none") {
              x.style.display = "block";
            }
          });
    }
}
  </script>

  </body>
</html>