<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Kurseong Carrier Maintainence</title>
    <link rel="icon" href="img/LOGO.png">
  </head>
  <body>
    <div class="alert alert-danger" id="errorbox" role="alert" style="display: none;"></div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>

    <!-- Navigation Bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Kurseong Carrier</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home/<%= token %>">Home</a>
      </li>  
      <li class="nav-item active">
        <a class="nav-link" href="/lr/multiplepartylr/add/<%= token %>">Add LR</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/lr/multiplepartylr/view/<%= token %>">View LR</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <button class="btn btn-secondary ml-1" id="deletevechile">Welcome <%= user.name %></button>
      <button class="btn btn-primary ml-1" data-token='<%= token %>' id="logoutbtn">Logout</button>
   </ul>
   
  </div>
</nav>

  <!-- body Part-->
  <div class="container text-secondary text-center mt-2"><h3>View LR</h3></div>

  <div class="container mt-4">
      <div class="row">
        <div class="col-md-4">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Search</label>
            </div>
            <input type="search" id="searchBox">
          </div>
        </div>
        <div class="col-md-8">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">LR NO</label>
            </div>
            <select class="custom-select" id="lroption">
              <option selected>Choose...</option>
              <% lr.forEach(function(lr){ %>
                <option data-lrid="<%= lr._id %>"><%= lr.lrnumber %></option>
                <% }); %>
            </select>
          </div>
        </div>
      </div>
      <button class="btn btn-success container mb-2" id="submitbtn">Submit</button>
  </div>

  <div class="container" id="lrdetailsbox" style = "display: none;">
    <div class="row">
      <div class="col-md-2">
          <div class="form-group">
              Date
              <input class="form-control" id="dates" type="date">
           </div>
      </div>         
      <div class="col-md-4">
          <div class="form-group">
              Opening Km
              <input class="form-control" id="openingkm" type="number" placeholder="Opening KM">
           </div>
      </div>
      <div class="col-md-4">
          <div class="form-group">
              Closing Km
              <input class="form-control" id="closingkm" type="number" placeholder="Closing KM">
           </div>
      </div>
      <div class="col-md-2">
        <div class="form-group text-center">
            Billed
            <input class="form-control" id="billed" type="checkbox">
         </div>
      </div>
    </div>
  </div>
  <div class="container" id="lrdetails" style = "display: none;"> 
    <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2">
          <div class="form-group">
              Party Name
          </div>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
          <div class="form-group">
              Destination
          </div>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
          <div class="form-group">
              Invoice
          </div>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
          <div class="form-group">
              Invoice Date
           </div>
      </div> 
      <div class="col-xs-2 col-sm-2 col-md-2">
          <div class="form-group">
              No of Cases:
          </div>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
          <div class="form-group">
              No of returned Cases:
          </div>
      </div>
    </div>
  </div>

  <div class="container mt-2" id="btns" style="display: none;">
    <button class="btn btn-secondary container mb-2" id="updatebtn">Update</button>
    <button class="btn btn-danger container mb-2" onclick="confirmation();" id="deletetbh">Delete Repair</button>
  </div>

  <script>
    $("#logoutbtn").click(function() {
      const token = $('#logoutbtn').data("token")
      $.ajax({
          type: "POST",
          url: '/users/logout/'+token,
          contentType: "application/json",
          processData: false,
      }).done(function (data) {
          window.open('/login','_self',false)
        }).fail(function ( jqXHR, textStatus, errorThrown) {
            const x = document.getElementById("errorbox");
            document.getElementById("errorbox").innerHTML = ""+jqXHR.responseText;
            if (x.style.display === "none") {
              x.style.display = "block";
            }
          });
    })
    $("#submitbtn").click(function() {
      const x = document.getElementById("lrdetails");
        const lrid = $('#lroption').find(":selected").data("lrid");
        const token = $('#logoutbtn').data("token")
        $.ajax({
          type: "GET",
          url: '/lr/multiplepartylr/'+lrid+'/'+token,
          contentType: "application/json",
          processData: false
      }).done(function (data) {
          const lr = data
          document.getElementById("dates").value = lr.date;
          document.getElementById("openingkm").value = lr.openingkm;
          document.getElementById("closingkm").value = lr.closingkm;
          $('#billed').prop('checked',lr.billed)
          var count = 0
          lr.details.forEach(detail => {
            $('#lrdetails').append('<div class = "row mt-1" ><div class="col-xs-2 col-sm-2 col-md-2"><input  id="list['+count+'][0]" type="text" value="'+detail.partyname+'" class="form-control" oninput="this.value = this.value.toUpperCase()" /></div><div class="col-xs-2 col-sm-2 col-md-2"><input id="list['+count+'][1]" type="text" value="'+detail.destination+'" class="form-control" oninput="this.value = this.value.toUpperCase()" /></div><div class="col-xs-2 col-sm-2 col-md-2"><input  id="list['+count+'][2]" type="text" value="'+detail.invoice+'" class="form-control" oninput="this.value = this.value.toUpperCase()" /></div><div class="col-xs-2 col-sm-2 col-md-2"><input  id="list['+count+'][3]" type="date" value="'+detail.invoicedate+'" class="form-control" oninput="this.value = this.value.toUpperCase()" /></div><div class="col-xs-2 col-sm-2 col-md-2"><input  id="list['+count+'][4]" type="number" value="'+detail.boxes+'" class="form-control" oninput="this.value = this.value.toUpperCase()" /></div><div class="col-xs-2 col-sm-2 col-md-2"><input  id="list['+count+'][5]" type="number" value="'+detail.returnboxes+'" class="form-control" oninput="this.value = this.value.toUpperCase()" /></div></div>')
            count++
          });
          const x = document.getElementById("lrdetails");
            if (x.style.display === "none") {
              x.style.display = "block";
            } 
            const y = document.getElementById("lrdetailsbox");
            if (y.style.display === "none") {
              y.style.display = "block";
            }
            const z = document.getElementById("btns");
            if (z.style.display === "none") {
              z.style.display = "block";
            }
     $("#updatebtn").click( function() {
         var m = lr.details.length
         var l =0
         const details = []
       while (l<m) {
         details.push({
           partyname : document.getElementById('list['+l+'][0]').value,
           destination : document.getElementById('list['+l+'][1]').value,
           invoice : document.getElementById('list['+l+'][2]').value,
           invoicedate : document.getElementById('list['+l+'][3]').value,
           boxes : document.getElementById('list['+l+'][4]').value,
           returnboxes : document.getElementById('list['+l+'][5]').value
         })
         l++;
       }
       const date = document.getElementById('dates').value
       const openingkm = document.getElementById('openingkm').value
       const closingkm = document.getElementById('closingkm').value
       const billed = $('#billed').prop('checked')
       const token = $('#logoutbtn').data("token")
       const lrid = $('#lroption').find(":selected").data("lrid");
       console.log(details);
       $.ajax({
          type: "PATCH",
          url: '/lr/multiplepartylr/update/'+lrid+'/'+token,
          contentType: "application/json",
          processData: false,
          data:  JSON.stringify({details : details,date :date,openingkm : openingkm,closingkm : closingkm,billed : billed})
      }).done(function (data) {
          window.open('/lr/multiplepartylr/view/single/'+data.token,'_self',false)
        }).fail(function ( jqXHR, textStatus, errorThrown) {
            const x = document.getElementById("errorbox");
            document.getElementById("errorbox").innerHTML = ""+jqXHR.responseText;
            if (x.style.display === "none") {
              x.style.display = "block";
            }
          });
       })
        }).fail(function ( jqXHR, textStatus, errorThrown) {
            const x = document.getElementById("errorbox");
            document.getElementById("errorbox").innerHTML = "Desired option is not appropriate";
            if (x.style.display === "none") {
              x.style.display = "block";
            }
          });
    })

    searchBox = document.querySelector("#searchBox");
    lroption = document.querySelector("#lroption");
    var when = "keyup";
    searchBox.addEventListener("keyup", function (e) {
    var text = e.target.value; //searchBox value
    var options = lroption.options; //select options
    for (var i = 0; i < options.length; i++) {
        var option = options[i]; //current option
        var optionText = option.text; //option text ("Somalia")
        var lowerOptionText = optionText.toLowerCase(); //option text lowercased for case insensitive testing
        var lowerText = text.toLowerCase(); //searchBox value lowercased for case insensitive testing
        var regex = new RegExp("^" + text, "i"); //regExp, explained in post
        var match = optionText.match(regex); //test if regExp is true
        var contains = lowerOptionText.indexOf(lowerText) != -1; //test if searchBox value is contained by the option text
        if (match || contains) { //if one or the other goes through
            option.selected = true; //select that option
            return; //prevent other code inside this event from executing
        }
        searchBox.selectedIndex = 0; //if nothing matches it selects the default option
    }
});

    function confirmation(){
    var result = confirm("Are you sure you want to delete?");
    if(result){
      const lrid = $('#lroption').find(":selected").data("lrid");
      const token = $('#logoutbtn').data("token")
      $.ajax({
          type: "DELETE",
          url: '/lr/multiplepartylr/'+lrid+'/'+token,
          contentType: "application/json",
          processData: false
      }).done(function (data) {
        window.open('/lr/multiplepartylr/view/single/'+data.token,'_self',false)
        }).fail(function ( jqXHR, textStatus, errorThrown) {
            const x = document.getElementById("errorbox");
            document.getElementById("errorbox").innerHTML = ""+jqXHR.responseText;
            if (x.style.display === "none") {
              x.style.display = "block";
            }
          });
    }
}

  var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth()+1; //January is 0!
  var yyyy = today.getFullYear();
  if(dd<10){
          dd='0'+dd
      } 
      if(mm<10){
          mm='0'+mm
      } 

  today = yyyy+'-'+mm+'-'+dd;
  document.getElementById("dates").setAttribute("max", today);
  document.getElementById("dates").setAttribute("value", today);
  </script>

  </body>
</html>