<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Kurseong Carrier Maintainence</title>
    <link rel="icon" href="img/LOGO.png">
  </head>
  <body>
    <div class="alert alert-danger" id="errorbox" role="alert" style="display: none;"></div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>

    <!-- Navigation Bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Kurseong Carrier</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home/<%= token %>">Home</a>
      </li>  
      <li class="nav-item active">
        <a class="nav-link" href="/lr/multiplepartylr/view/single/<%= token %>">View Single LR</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/lr/multiplepartylr/add/<%= token %>">Add LR</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <button class="btn btn-secondary ml-1" id="deletevechile">Welcome <%= user.name %></button>
      <button class="btn btn-primary ml-1" data-token='<%= token %>' id="logoutbtn">Logout</button>
   </ul>
   
  </div>
</nav>

  <!-- body Part-->
  <div class="container text-secondary text-center mt-2"><h3>View LR</h3></div>

  <div class="container mt-4">
      <div class="row">
          <div class="col-md-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Consignor</label>
                </div>
                <select class="custom-select" id="consignoroption">
                  <option selected>Choose...</option>
                  <% consignor.forEach(function(consignor){ %>
                    <option data-consignorid="<%= consignor._id %>"><%= consignor.consignorname %></option>
                    <% }); %>
                </select>
              </div>
          </div>
          <div class="col-md-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Vechile No</label>
                </div>
                <select class="custom-select" id="vechileoption">
                  <option selected>Choose...</option>
                  <% vechile.forEach(function(vechile){ %>
                    <option data-vechileid="<%= vechile._id%>"><%= vechile.vechileno %></option>
                    <% }); %>
                </select>
              </div>
          </div>
      </div>
      <button class="btn btn-success container mb-2" id="submitbtn">Submit</button>
  </div>

  <div class="container text-center text-danger" style="display: none;" id="notificationbox">
    Please Select the Lrs to be billed
    <br>
    Note : Once billed The Lrs wont be shown again (however you can check indiviual Lrs)
  </div>

  <table class="table table-striped table-bordered" id="lrtable">
    <thead>
      <tr>
        <th scope="col">Checkbox</th>
        <th scope="col">Date</th>
        <th scope="col">LR</th>
        <th scope="col">Party Name</th>
        <th scope="col">Destination</th>
        <th scope="col">Invoice no</th>
        <th scope="col">Invoice Date</th>
        <th scope="col">No of Cases</th>
        <th scope="col">No of Return Cases</th>
        <th scope="col">Opening Km</th>
        <th scope="col">Closing Km</th>
        <th scope="col" style="display: none;"></th>
      </tr>
    </thead>
    <tbody id="lrbody">
    </tbody>
  </table>
  <button class="container btn btn-success mt-2" id="billbtn" style="display: none;">Bill</button>
  <a class="btn btn-primary container mt-2" id="exportbtn" href="/downloadmultiplepartylr/<%= token%>" style="display: none;">Export</a>


  <script>
    $("#logoutbtn").click(function() {
      const token = $('#logoutbtn').data("token")
      $.ajax({
          type: "POST",
          url: '/users/logout/'+token,
          contentType: "application/json",
          processData: false,
      }).done(function (data) {
          window.open('/login','_self',false)
        }).fail(function ( jqXHR, textStatus, errorThrown) {
            const x = document.getElementById("errorbox");
            document.getElementById("errorbox").innerHTML = ""+jqXHR.responseText;
            if (x.style.display === "none") {
              x.style.display = "block";
            }
          });
    })
    $("#submitbtn").click(function() {
        const consignorid = $('#consignoroption').find(":selected").data("consignorid");
        const vechileid = $('#vechileoption').find(":selected").data("vechileid");
        const token = $('#logoutbtn').data("token")
        $.ajax({
          type: "POST",
          url: '/lr/multiplepartylr/view/'+token,
          contentType: "application/json",
          processData: false,
          data:  JSON.stringify({consignorid : consignorid,vechileid : vechileid})
      }).done(function (data) {
        var count = 0;
          data.lr.forEach(lr => {
            lr.details.forEach(detail => {
              $('#lrbody').after('<tr><td><input type="checkbox" name ="chk1" value = "'+count+'" /></td><th scope="row">'+lr.date+'</th> <td id="list['+count+']">'+lr.lrnumber+'</td> <td>'+detail.partyname+'</td> <td>'+detail.destination+'</td> <td>'+detail.invoice+'</td><td>'+detail.invoicedate+'</td> <td >'+detail.boxes+'</td><td> '+lr.returnboxes+'</td><td> '+lr.openingkm+'</td><td >'+lr.closingkm+'</td> <td id="list['+count+'][0]"  style="display: none;">'+lr._id+'</td> </tr>');
            });
            count++;
            const l = document.getElementById("notificationbox");
            if (l.style.display === "none"){
              l.style.display = "block";
            }
            const y = document.getElementById("billbtn");
            if (y.style.display === "none"){
              y.style.display = "block";
            }
          });

        }).fail(function ( jqXHR, textStatus, errorThrown) {
            const x = document.getElementById("errorbox");
            document.getElementById("errorbox").innerHTML = "Desired option is not appropriate or else all the Lrs have aldready been billed";
            if (x.style.display === "none") {
              x.style.display = "block";
            }
          });
    })

    $("#billbtn").click(function() {
      const token = $('#logoutbtn').data("token")
      var arr_id = [];	
      const lr = [];	
      $(":checkbox:checked").each(function(i){
        id = $(this).val();
        const lrid = $('#logoutbtn').data("lrid")
        arr_id[i]=id;
        lr.push({
          lrid : document.getElementById('list['+id+'][0]').innerHTML,
          lrnumber : document.getElementById('list['+id+']').innerHTML
        })
      })
      if(arr_id.length == 0){
        return alert("atleast check one");
      }
      $.ajax({
          type: "POST",
          url: '/lr/multiplepartylr/billlr/'+token,
          contentType: "application/json",
          processData: false,
          data:  JSON.stringify(lr)
      }).done(function (data) {
            const z = document.getElementById("exportbtn");
            if (z.style.display === "none"){
              z.style.display = "block";
            }
        }).fail(function ( jqXHR, textStatus, errorThrown) {
            const x = document.getElementById("errorbox");
            document.getElementById("errorbox").innerHTML = ""+jqXHR.responseText;
            if (x.style.display === "none") {
              x.style.display = "block";
            }
          });
    })
  </script>

  </body>
</html>